@model  NanoLifeShop.Web.Models.SupportOnlineViewModel


<div class="contact" id="contact">
    <div class="col-md-7 contact_left">
        <div class="grid_3">
            <ul class="msg">
                <i class="msg_icon"> </i>
                <li class="msg_desc">
                    <p>
                        <span style="color:#B22222"><span style="font-size:14px"><em><strong>@Model.Name</strong></em></span></span><br />
                        <strong>Địa Chỉ:</strong>&nbsp;&nbsp;@Model.Address.<br />
                        <strong>Hot Line:</strong>&nbsp;@Model.Mobile.<br />
                        <strong>Email:</strong>&nbsp;@Model.Email
                    </p>
                    <p>&nbsp;</p>
                </li>
            </ul>
        </div>
        <div class="grid_4">
            <h4></h4>
        </div>
        <div class="grid_5" id=" ">
            <input type="hidden" id="hiName" value="@Model.Name" />
            <input type="hidden" id="hiAddress" value="@Model.Address" />
            <input type="hidden" id="hiLat" value="@Model.Lat" />
            <input type="hidden" id="hiLng" value="@Model.Lng" />

            <!--Show google Map-->
            <div class="map-canvas" id="map" >

            </div>
        </div>
    </div>
    <div class="col-md-5 contact_right">
        <div class="header_box grid_6">
            <h3>Liên Hệ</h3>
            <form id="formContact" method="post">
                <input type="text" class="text" placeholder="Tên *" id="txtNameC" name="txtNameC">
                <input type="text" class="text" placeholder="Email *" id="txtEmailC" name="txtEmailC">
                <textarea placeholder="Tin nhắn" id="txtMessageC" name="txtMessageC"></textarea>
                <label class="fa-btn btn2 btn-2 btn-1e btn3 text-center"><input type="submit" id="btnSend" value="Gửi"></label>
                <ul class="form_lock">
                    <li><i class="lock"> </i></li>
                    <li class="lock_desc">
                        <p>
                            Thông tin Email của bạn sẽ được giữ an toàn.
                            <br />
                            Vui lòng điền Email để được nhận những khuyến mãi sớm nhất từ chúng tôi.
                        </p>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>


