@model  NanoLifeShop.Web.Infastructure.Core.PaginationSet<NanoLifeShop.Web.Models.PostViewModel>


@{
   var Cate = (NanoLifeShop.Web.Models.PostCategoryViewModel)ViewBag.CateroryItem;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



@section Header{

    <div class="loader loader-default" data-text=""></div>

    <div class="header blog_header">
        <div class="logo">
            <a href="/">
                <img src="/UploadFile/images/logo.png" alt="logo" style="padding-bottom: 1%;">
            </a>
        </div>
        @{
            Html.RenderAction("MenuPost", "Home");

        }

    </div>
}

<div class="blog">
    <div class="container">


        <div class="col-md-8" id="content-area">
            @if (Model.Count > 0)
            {

                foreach (var item in Model.Items)
                {

                    var url = "/post/" + item.Alias + ".p-" + item.ID;

                    <div class="post1">
                        <h3><a href="@url">@item.Name</a></h3>
                        <div class="post1_header">
                            <span class="post1_header_date">
                                <time datetime="2014-01-01" title="date">@(item.CreateDate.HasValue ? item.CreateDate.Value.ToShortDateString() : null)</time>
                            </span>
                            <span class="post1_header_by" title="admin">By <a href="#">@item.CreateBy</a></span>
                            <span class="post1_header_in" title="bookmark"><a href="#">loại @item.PostCategory.Name</a></span>

                        </div>
                        <a href="@url" class="mask"><img src="@item.Image" alt="image" class="img-responsive zoom-img"></a>

                        @if (item.Description.Length > 200)
                        {
                            <p>@item.Description.Substring(0, 200)...</p>

                        }
                        else
                        {
                            <p>@item.Description</p>

                        }

                        <nav class="cl-effect-7" id="cl-effect-7">
                            <a href="@url">Đọc Thêm</a>
                        </nav>
                    </div>

                }
            }
            else
            {
                <h1 class="text-center" style="color:crimson;">
                    Không có bản tin nào được tìm thấy !
                </h1>
            }

            @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            <ul class="dc_pagination dc_paginationA dc_paginationA06">

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

            </ul>*@

            @if (Model.TotalPages > 1)
            {
                var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);
                <nav>
                    <ul class="dc_pagination dc_paginationA dc_paginationA06">

                        @if (Model.Page > 1)
                        {
                            <li>
                                <a href="?page=1&idCate=@Cate.ID" class="current">
                                    <span>First</span>
                                </a>
                            </li>
                            <li>
                                <a href="?page=@(Model.Page - 1)&idCate=@Cate.ID" class="current">
                                    <span>Previous</span>
                                </a>
                            </li>

                        }


                        @for (int i = startPageIndex; i < endPageIndex; i++)
                        {
                            if (Model.Page == i)
                            {
                                <li class="active">
                                    <a href="?page=@i&idCate=@Cate.ID" title="Trang @i">@i</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="?page=@i&idCate=@Cate.ID" title="Trang @i">@i</a>
                                </li>
                            }
                        }


                        @if (Model.Page < Model.TotalPages)
                        {
                            <li>
                                <a href="?page=@(Model.Page + 1)&idCate=@Cate.ID" class="current">
                                    <span>Next</span>
                                </a>
                            </li>
                            <li>
                                <a href="?page=@Model.TotalPages&idCate=@Cate.ID" class="current">
                                    <span>Last</span>
                                </a>
                            </li>

                        }

                    </ul>
                </nav>

            }
           
        </div>


        <div class="col-md-4 blog_right">
            @{
                Html.RenderAction("PostCategory", "Post");
                Html.RenderAction("RencentPost", "Post");

            }
        </div>
    </div>
</div>



